.postEditorForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content:center;
    align-items: center;
}
.title{
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.input{
    padding: 0.5rem;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#eee;
    color:black;
}
.textarea{
    padding: 0.5rem;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 300px;
    background-color:#eee;
    min-width:500px;
    color:black;
}
.body{
    font-size:1.5rem;
}
.submitButton{
    padding: 0.7rem 1.5rem;
    font-size: 1em;
    color: white;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover{
        background-color: #ff6347cc;
    }
    &:active{
        transform: scale(0.98);
    }
}