.hero{
    background: url('/media/pexels-pixabay-261735.jpg') no-repeat center center !important;
    background-size: cover !important;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-align: flex-start;
}
.content{
    display:flex;
    margin-top:550px;
    z-index:1000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button{
    background-color: #ff6347;
    color: inherit;
    padding: 1em;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    
}
.button:hover{
    background-color: #ff4500;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}