@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.page {
  min-height: 100vh;
  padding: $spacing-12 0;
  background-color: $color-bg-secondary;

  @include respond-to(md) {
    padding: $spacing-16 0;
  }
}

.header {
  @include flex-between;
  align-items: center;
  margin-bottom: $spacing-10;
  padding-bottom: $spacing-6;
  border-bottom: 1px solid $color-border-light;
}

.title {
  @include heading-1;
}

.error {
  text-align: center;
  padding: $spacing-16 $spacing-4;

  h1 {
    @include heading-2;
    margin-bottom: $spacing-4;
  }

  p {
    @include body-large;
    color: $color-text-secondary;
    margin-bottom: $spacing-8;
  }
}