.blogPost {
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 16px;

}

.title {
  font-size: 1.5em;
  margin-bottom: 8px;
}

.content {
  font-size: 1em;
  color: #333;
}